/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    height: 100dvh;
    overflow: hidden;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
li{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

}
/* app */
.App{
    display: grid;
    width: 100dvw;
    height: 100dvh;
    grid-template: 7% 1fr 6% / 1fr;
}
/* header */
header{
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
/* main */
main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-trash{
        border: none;
    }
}
.text{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
/* footer */
footer{
    background-color: aqua;
    display: flex;
    align-items: center;
    font-size: 1rem;
}